p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100;
  height: auto;
}

body {
  background: #f8f8f8;
  font-style: normal;
}

.hero-list {
  padding-top: 64px;
  padding-bottom: 40px;
}

.hero-container {
  max-width: 428px;
  padding: 20px;
  margin: 0 auto;

  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .hero-container {
    max-width: 428px;
    width: 100%;
  }
}

.title {
  text-transform: uppercase;
  width: 335px;
  margin-bottom: 14px;
}

.hero-link {
  color: #9bb537;
  font-family: Inter;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  /* text-transform: uppercase; */
}

.hero-title {
  color: #050505;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 31.2px */
  text-transform: uppercase;
}

.hero-subtitle {
  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 14px 0 28px;
  /* width: 335px; */
}

.hero-btn {
  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 12px;
  border: 1px solid #9bb537;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 48px;
}

.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* order now */

.backdrop {
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order {
  position: absolute;
  width: 335px;
  height: 582px;
  margin: auto;
  overflow: scroll;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 28px 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
}

/* @media screen and (min-width: 428px) {
  .order {
    width: 335px;
  }
} */

.backdrop.is-hidden .order {
  transform: translate(-50%, -50%) scaleY(0) rotate(-90deg);
}

.order-close-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-close-btn:hover,
.order-close-btn:focus {
  color: #050505;
}

/* .order-icon-btn {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
} */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order-title {
  color: #050505;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.order-form {
  max-width: 360px;
  flex-direction: column;
  display: flex;
}

.order-input {
  width: 295px;
  height: 46px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  border-radius: 15px;
  outline: none;
  margin: 8px 0 16px;
  padding: 14px 18px;
}

/* .order-input:focus {
  fill: rgba(5, 5, 5, 0.2);
} */

.order-form-label {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: block;
}

.order-form-comment {
  width: 295px;
  height: 100px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  resize: none;
  border-radius: 15px;
  outline: none;
  margin: 8px 0 40px;
  padding: 14px 169px 14px 18px;
}

.input-button {
  display: flex;
  /* padding: 14px 28px; */
  padding: 15px 162px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  border-radius: 15px;
  background: #9bb537;
  color: #f8f8f8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 35px;
  height: auto;
  flex-shrink: 0;
}

.input-button [disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-button:hover,
.input-button:focus {
  background-color: black;
}

/* swiper */
.hero {
  width: 515px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  padding: 30px;
  min-height: 100%;
}

.image-slider {
  padding: 30px 0 70px 0;
}
.image-slider_image {
  text-align: center;
}

.image-slider_image img {
  max-width: 100%;
}
