.hero-container {
  max-width: 1158px;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

.hero-link {
  font-size: 36px;
}

.hero-title {
  font-size: 36px;
}

.hero-subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  width: 408px;
}

.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
