.container {
  max-width: 1104px;
  padding: 0 12px;
}

/* @media screen and (min-width: 1200px)  */
.hero-container {
  align-items: center;
  display: flex;
  overflow: visible;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

.hero-link {
  font-size: 36px;
}

.hero-title {
  font-size: 36px;
}

.hero-subtitle {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  width: 408px;
}

.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* swiper */
.hero {
  width: 889px;
}
